.carre-contenu {
	border-right: 1px solid #8E86B5;
	border-bottom: 1px solid #8E86B5;
	padding: 50px;
	width: 50%;
	margin: auto;
	margin-bottom: 80px;
}

.carre-contenu h2 {
	margin-top: 30px;
}

.carre-contenu ul {	
	 margin-top: 30px;
}

.carre-contenu + div {
	text-align: center;
} 

.a-propos-main {
	margin: auto;
}

table {
	color: white;
	text-align: center;
	width: 100%;
	border-collapse: collapse;
}

td, th {
	padding: 15px;
	border: 1px solid #A5B4FC;
}

td {
	padding: 80px;
}

h2 {
	margin-bottom: 80px;
}

h1,
h2 {
	text-align: center;
}

@media screen and (max-width: 996px) {
	.section-tarifs {
		display: none;
	}
}